[Unit]
Description=Apache ZooKeeper
After=network.target
ConditionPathExists={{ zookeeper_dir }}/conf/zoo.cfg
ConditionPathExists={{ zookeeper_dir }}/conf/log4j.properties
ConditionPathExists={{ log_dir }}

[Service]
Environment="ZOOCFGDIR={{ log_dir }}/conf"
SyslogIdentifier=zookeeper
WorkingDirectory={{ zoo_working_dir }}
ExecStart={{ zoo_working_dir }}/bin/zkServer.sh start-foreground
Restart=on-failure
RestartSec=20
User={{ zookeeper_user }}
Group={{ zookeeper_group }}

[Install]
WantedBy=multi-user.target
